---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import { SITE } from "@consts";
import { type Locale } from "@i18n/utils";
import "../styles/global.css";


type Props = {
  title: string;
  description: string;
  locale: Locale;
};

const { title, description, locale } = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} locale={locale} />
  </head>
  <body>
    <Header locale={locale} />
    <main class="pt-32 pb-24 md:pt-28 lg:py-24">
      <slot />
    </main>
    <Footer locale={locale} />
  </body>
</html>
